*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F4D04E;
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: "Figtree", sans-serif;
}

.container{
    max-width: 375px;
    margin: 0 auto;
}

.card{
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px 0px black;
    padding: 20px;
}

.card-img{
    width: 100%;
    border-radius: 14px;
    margin-bottom: 14px;
}

.learning{
    background-color: #F4D04E;
    /* INLINE BLOCK USED TO SHORTEN BACK-GROUND COLOR */
    display: inline-block; 
    border-radius: 6px;
    padding: 6px 8px;
    font-weight: 800;
}

.date{
    margin: 10px 0 14px 0;
    color: #111111;
    font-weight: 500;
}

h2 a{
    font-weight: 800;
    text-decoration: none;
    color: #111111;
}

a:hover{
    color: #F4D04E;
}

.text{
    color: #6B6B6B;
    margin: 10px 0;
    font-weight: 500;
    line-height: 150%;
}

footer{
    display: flex;
}

footer >p{
    font-weight: 800;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 16px;
}

footer >img{
    margin-top: 10px;
    width: 30px;
    height: 30px;
}
